<div class="col-md-12">
	<table class="table table-hover table-striped" *ngIf="findedUsers">
		<thead >
			<tr>
				<th>
					Address Type
				</th>
				<th>
					Country
				</th>
				<th>
					City
				</th>
				<th>
					Post Code
				</th>
				<th>
					Street
				</th>
				<th>
					Building
				</th>
				<th>
					Flat
				</th>
				<th>
					User
				</th>
				<th>
					Action
				</th>
			</tr>
		</thead>
		<tbody *ngFor="let u of findedUsers">
			<tr  *ngFor="let a of u.address" >
				<td>
					{{ a.addressType }}
				</td>
				<td>
					{{ a.country }}
				</td>
				<td>
					{{ a.city }}
				</td>
				<td>
					{{ a.postCode }}
				</td>
				<td>
					{{ a.street }}
				</td>
				<td>
					{{ a.building }}
				</td>
				<td>
					{{ a.flat }}
				</td>
				<td>
					{{ u.firstName }} {{ u.lastName }}
				</td>
				<td>
					<button class="btn btn-primary btn-large" (click)="deleteAddress(u, a.idAddress)">Delete</button> 
				</td>
			</tr> 
		</tbody>
	</table>
	<div *ngIf="!findedUsers">
		<div class="alert alert-dismissable alert-info"> 
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
				×
			</button>
			<h4> Warning! </h4> <strong>Filter criteria not found!</strong> 
		</div>
	</div>
</div>